* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

h1 {
  font-size: 48px;
  color: #4b4b4b;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #585858;
}

.album-container {
  display: flex;
  justify-content: space-evenly;
  perspective: 1500px;
}

.album {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.album:hover {
  transform: rotateY(180deg);
}

.record-cover {
  width: 300px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
}

.record {
  width: 230px;
  height: 230px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-label {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
